
    body {
      font-family: 'TAT_Sana_Suksa', sans-serif;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 10px 20px;
      color: black;
      text-align: center;
      line-height: 1.5rem;

      background: linear-gradient(-45deg, #ffd3e0, #b5ead7, #c7ceea, #ffdac1);
      background-size: 400% 400%;
      animation: bgAnimate 10s ease infinite;
      min-height: 100vh;
    }
    h1 {
      font-size: 2rem;
      margin-bottom: 5px;
      font-weight: normal;
      font-family: 'TAT_Sana_Suksa', sans-serif;
    }
    p {
      font-size: 1.1rem;
      margin: 5px;
      max-width: 400px;
    }
    #customUpload {
      margin: 10px 0;
      padding: 12px 24px;
      background-color: white;
      color: black;
      border: none;
      border-radius: 12px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
    #imageUpload {
      display: none;
    }
    #preview-container {
      position: relative;
      width: 450px;
      height: 450px;
      margin: 10px auto;
      border: 5px solid black;
      border-radius: 20px;
      background: white;
    }
        @media (max-width: 640px) {
      #preview-container {
        width: 320px;
        height: 320px;
      }
    }
    canvas {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
    #status {
      margin: 10px;
      font-style: italic;
    }
    #downloadBtn {
     font-family: 'TAT_Sana_Suksa', sans-serif;
      display: none;
      margin-top: 20px;
      margin-bottom: 10px;
      padding: 12px 24px;
      background-color: white;
      color: black;
      border: none;
      border-radius: 12px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0,0,0,0.2);
      animation: pulse 1.5s infinite;
    }
    @keyframes pulse {
      0% { transform: scale(1); }
      50% { transform: scale(1.05); }
      100% { transform: scale(1); }
    }
    .note {
      font-size: 12px;
      padding: 0;
      margin: 0;
    }
    .logo {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    @media screen and (max-width:767px) {
        h1 {
      font-size: 1.6rem
    }
    p {
      font-size: .9rem
    }
    }

    @keyframes bgAnimate {
      0% { background-position: 0% 50%; }
      50% { background-position: 100% 50%; }
      100% { background-position: 0% 50%; }
    }
    @font-face {
  font-family: 'TAT_Sana_Suksa';
  src: url('/fonts/TAT_Sana_Suksa/TATSANA_CHON-BLD.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}