.previewImage {
    width: 95%;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh;
}

.btn-group-lg > .btn,
.btn-vlg {
    --bs-btn-padding-y: 1rem;
    --bs-btn-padding-x: 6rem;
    --bs-btn-font-size: 3rem;
    --bs-btn-border-radius: 0.8rem;
}

.dropzone .dz-message .dz-button {
    font-size: 2rem;
}

.dropzone .dz-message {
    text-align: center;
    margin: 0.1em 0;
}

.dropzone {
    background: white;
    border-radius: 20px;
    border: 2px dashed rgb(0, 135, 247);
    border-image: none;
    /* max-width: 500px; */
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    font-size: 3rem;
}
